@using LogMessageClassifier.Models.ViewModels;
@model ClassifyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Classify";
    string BUTTON_CLASS = "media-heading btn btn-default btn-md";
    string _selectedButtonClass = "";
    string[] _selectedCats = Model.SelectedCategories.Split(new char[]{'|'});
    string TOGGLE_BUTTON = "toggle-button";
}

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<link href="~/Content/themes/base/accordion.css" rel="stylesheet" />
<link href="~/Content/checkboxbuttontoggle.css" rel="stylesheet" />


<script type="text/javascript">
    $(function () {
        $("#accordion").accordion(
            {
                heightStyle: "content"
            });
    });

    //$("input:checkbox[name=type]:checked").each(function () {
    //    selectcats.push($(this).val());
    //});

    $("[name='selectedCategories']").on("click", function () {
        var checked = false;
        alert($(this));
    });
</script>

<style>
    .matched{
        color: firebrick;
    }

    .toggle-button{
        
        margin: 0px 5px 5px 0px;
        max-width: 500px;
    }
</style>

<div class="page-header">
    <h1>Classification</h1>
</div>
<div class="row">
    <div class="col-md-9">
        @if (Model.Message == string.Empty)
        {
            <div>No items</div>
            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo;") + " Back", "Index", "Classifier", null, new { @class = "btn btn-default btn-warning" })
        }
        else
        {
            <div>                
                <div class="demo">
                    <div id="accordion">
                        <h3>Main Message</h3>
                        <div>
                            <text class="h3">[@Model.MessageId] @(Model.Message)</text><br /><br />
                            
                                @*@foreach (var cat in Model.Categories)
                                {
                                    if (Model.Mode == LogMessageClassifier.Models.ClassificationMode.Edit && Model.CategoryId == cat.Id)
                                    {
                                        _selectedButtonClass = " btn-info";
                                    }

                                    @Html.ActionLink(cat.CategoryName, "Classify", new { MessageID = Model.MessageId, CategoryID = cat.Id, Mode = Model.Mode, isSecond = false }, new { @class = BUTTON_CLASS + _selectedButtonClass, @style = "margin-right: 5px;" })
                                    _selectedButtonClass = "";
                                }*@
                            
                            <div>
                                @using (Html.BeginForm("Classify", "Classifier", FormMethod.Post))
                                {
                                    foreach (var item in Model.Selectors)
                                    {
                                        item.IsSelected = _selectedCats.Contains(item.Id.ToString("N0"));

                                        if (Model.Mode == LogMessageClassifier.Models.ClassificationMode.Edit && item.IsSelected)
                                        {
                                            _selectedButtonClass = " btn-info";
                                        }
                                               <label class="tgl" style="font-size:16px">
                                                   <input type="checkbox" name="selectedCategories"
                                                          checked="@item.IsSelected" value="@item.Id" />
                                                <span>@item.Name</span>
                                            </label>

                                                @*@Html.HiddenFor(x => item.Id)
                                                    @Html.CheckBoxFor(x => item.IsSelected)
                                                    @Html.DisplayFor(x => item.Name)
                                                    @Html.HiddenFor(x => item.Name)*@

                                    _selectedButtonClass = "";
                                }

                                    <br />
                                    <input type="hidden" name="MessageID" value="@Model.MessageId" />
                                    <input type="hidden" name="Mode" value="@Model.Mode" />
                                    <input type="hidden" name="IsSecond" value="False" />
                                    <input type="submit" class="btn btn-sm btn-success" value="Save" />
                                }
                            </div>
                        </div>
                        
                            
                        
                        @if (Model.RelatedMessages.Count > 1)
                        {
                            <h3>@Model.RelatedMessages[0].SessionFileName [@Model.RelatedMessages.Count]</h3>
                            <div style="color: grey">
                                <p>
                                    @foreach (var item in Model.RelatedMessages)
                                    {
                                        if (item.Id == Model.MessageId)
                                        {
                                            @Html.Raw("<span class=\"matched\">");
                                        }
                                        else
                                        {
                                            @Html.Raw("<span>");
                                        }

                                        @Html.Raw(item.ChatTimestamp.Value.ToString("dd MMM yyyy hh:mm") + HttpUtility.HtmlDecode("&emsp;") + item.Message.Trim() + "<br />")
                                        @Html.Raw("</span>")                                        
                                    }
                                </p>
                                <table>
                                @foreach (var cat in Model.Categories)
                                {
                                    if (Model.Mode == LogMessageClassifier.Models.ClassificationMode.Edit && Model.SecondCategoryId == cat.Id)
                                    {
                                        _selectedButtonClass = " btn-info";
                                    }

                                    @Html.ActionLink(cat.CategoryName, "Classify", new { MessageID = Model.MessageId, CategoryID = cat.Id, Mode = Model.Mode, isSecond = true }, new { @class = BUTTON_CLASS + _selectedButtonClass, @style = "margin-right: 5px;" })
                                    _selectedButtonClass = "";
                                }
                                </table>
                            </div>
                        }
                    </div>
                </div>                
            </div>
            <br />
            if (Model.Mode == LogMessageClassifier.Models.ClassificationMode.Edit)
            {
                <a href="javascript: history.go(-1)" class="media-heading btn btn-default btn-warning btn-lg">Back</a>

                //@Html.ActionLink("Back", "Index", new { MessageID = Model.MessageId, Mode = Model.Mode }, new { @class = "media-heading btn btn-default btn-warning btn-lg" })
            }
            else
            {
            <div>
                @Html.ActionLink("Discard", "Discard", new { MessageID = Model.MessageId, Mode = Model.Mode }, new { @class = "media-heading btn btn-default btn-danger btn-lg" })
                @Html.ActionLink("Skip", "Skip", new { MessageID = Model.MessageId, Mode = Model.Mode }, new { @class = "media-heading btn btn-default btn-warning btn-lg" })
                @Html.ActionLink("Next", "Next", new { MessageID = Model.MessageId, Mode = Model.Mode }, new { @class = "media-heading btn btn-default btn-info btn-lg" })
            </div>
            }
        }
    </div>
</div>