@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Classify";
}

@using LogMessageClassifier.Models.ViewModels;
@model ClassifyViewModel

<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<link href="~/Content/themes/base/accordion.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $("#accordion").accordion();
    });
</script>

<div class="page-header">
    <h1>Classification</h1>
</div>
<div class="row">
    <div class="col-md-9">
        @if (Model.Message == string.Empty)
        {
            <div>No items</div>
            @Html.ActionLink(HttpUtility.HtmlDecode("&laquo;") + " Back", "Index", "Classifier", null, new { @class = "btn btn-default btn-warning" })
        }
        else
        {
            <div>
                <text class="h3"> Message: @(Model.Message)</text>
                <div class="demo">
                    <div id="accordion">
                        <h3>Select a category</h3>
                        <div>
                            <table>
                                @foreach (var cat in Model.Categories)
                                {
                                    @Html.ActionLink(cat.CategoryName, "Classify", new { MessageID = Model.MessageID, CategoryID = cat.ID, Mode = Model.Mode }, new { @class = "media-heading btn btn-default btn-md", @style = "margin-right: 5px;" })
                                }
                            </table>
                        </div>
                        <h3>Related Message</h3>
                        <div>
                            <p>Message: </p>
                            <table>
                                @foreach (var cat in Model.Categories)
                                {
                                    @Html.ActionLink(cat.CategoryName, "Classify", new { MessageID = Model.MessageID, CategoryID = cat.ID, Mode = Model.Mode }, new { @class = "media-heading btn btn-default btn-md", @style = "margin-right: 5px;" })
                                }
                            </table>
                        </div>
                    </div>
                </div>                
            </div>
            <br />
            <div>
                @Html.ActionLink("Discard", "Discard", new { MessageID = Model.MessageID, Mode = Model.Mode }, new { @class = "media-heading btn btn-default btn-danger btn-lg" })
                @Html.ActionLink("Skip", "Skip", new { MessageID = Model.MessageID, Mode = Model.Mode }, new { @class = "media-heading btn btn-default btn-warning btn-lg" })
                @Html.ActionLink("Next", "Next", new { MessageID = Model.MessageID, Mode = Model.Mode }, new { @class = "media-heading btn btn-default btn-info btn-lg" })
            </div>
        }
    </div>
</div>